<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <p>Hey {{name}},</p>
    <p>Thank you for registering.</p>
    <p>We are currently reviewing your account details.</p>
    <p>Once your account has been approved by our administrative team, you will receive a confirmation email.</p>
    <p>We appreciate your patience during this process.</p>
    <p>Should you have any questions or require further assistance, please do not hesitate to contact us.</p>
    <p>Best regards,<br>Ruud</p>
</body>
</html>