<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <p>Dear {{name}},</p>
    <p>We are pleased to inform you that your account has been successfully activated. You now have access to our services.</p>
    <p>
      <a href="{{clientUrl}}/login" target="_blank">go to the website</a>
    </p>
    <p>We're excited to have you on board.</p>
    <p>Best regards,<br>Ruud</p>
</body>
</html>


