<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <p>Hey {{name}},</p>
    <p>
      Please confirm your email address by clicking on the link below.
    </p>
    <a
    href="{{clientUrl}}/activate-account?code={{code}}"
    target="_blank"
    >CONFIRM MY EMAIL ADDRESS</a
  >
    <p>Best regards,<br>Ruud</p>
</body>
</html>
